.sigma-mode{

  animation:
  sigmaFlash 0.2s infinite,
  sigmaRotate 0.5s infinite;

}

@keyframes sigmaFlash{

  0%{

    filter:
    hue-rotate(0deg)
    brightness(1);

  }

  50%{

    filter:
    hue-rotate(180deg)
    brightness(1.5);

  }

  100%{

    filter:
    hue-rotate(360deg)
    brightness(1);

  }
}

@keyframes sigmaRotate{

  0%{
    transform:rotate(0deg);
  }

  25%{
    transform:rotate(1deg);
  }

  50%{
    transform:rotate(-1deg);
  }

  100%{
    transform:rotate(0deg);
  }
}
