*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  font-family:'Baloo Da 2', cursive;

  background:
  linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    lime,
    cyan,
    blue,
    purple
  );

  background-size:600% 600%;

  animation:bgMove 8s infinite alternate;

  text-align:center;

  overflow-x:hidden;

  color:white;
}

/* BACK
